@import "../../variables";

@import "~bulma/sass/utilities/mixins";

.navbar {
    .navbar-logo {
        text-align: center;
        margin-right: $size-6;
        @include touch {
            margin-left: $size-3;
        }
        i {
            font-size: $size-1;
            color: $grey-darker;
        }
    }
    .navbar-menu {
        @include touch {
            box-shadow: none;
        }
        a {
            color: $grey-darker;
            padding: $size-7 ($size-7 / 2);
            line-height: $size-2;
            &:hover {
                color: $primary;
            }
            @include touch {
                padding-left: $size-7;
                display: block;
            }
        }
        .divider {
            padding: $size-7;
            line-height: $size-2;
            @include touch {
                display: none;
            }
        }
    }
}
