@import "../variables";

@import "~bulma/sass/utilities/mixins";

.footer-separator {
    background-color: $primary-invert;
    padding-top: $size-1;
    img {
        position: relative;
        top: 20px;
    }
}
.footer {
    a {
        color: $primary-invert;
        font-weight: $weight-bold;
    }
    .footer-logo {
        i {
            font-size: $size-1 * 3;
            @include mobile {
                font-size: $size-1 * 2;
            }
        }
    }
}
