@charset "utf-8";

@import "variables";
@import "fonts";

@import "~bulma/bulma";

html {
    height: 100%;
}
body {
    height: 100%;
    background-color: $primary;
}
main {
    background-color: $primary-invert;
}
h1 {
    font-size: $size-1;
    font-weight: $weight-bold;
}
h2 {
    font-size: $size-2;
    font-weight: $weight-bold;
}
h3 {
    font-size: $size-3;
    font-weight: $weight-bold;
}
h4 {
    font-size: $size-4;
    font-weight: $weight-bold;
}
h5 {
    font-size: $size-5;
    font-weight: $weight-bold;
}
h6 {
    font-size: $size-6;
    font-weight: $weight-bold;
}
